/* ==========================================================================
   Global Styles
   ========================================================================== */

body {
  font-size: 16px;
  color: #404a49;
  font-family: 'Cousine', serif;
  font-weight: 400;
}

.container {
  margin: 0 auto;
  padding: 0 25px;
}

header {
  .site-header {
    margin: 0 auto;
    height: 95px;
  }

  .logo i {
    color: #678f89;
    margin: 20px 0 0 -5px;
    float: left;
    font-size: 40px;
  }

  .button {
    float: right;
    margin: 33px 0 0 0;
  }
}

footer {
  text-align: center;
  padding: 35px 0;
  border-top: 2px dotted #678f89;
}

/* ==========================================================================
   Button Styles
   ========================================================================== */

.button {
  padding: 8px 10px 6px 10px;
  background: #678f89;
  border: 2px solid #678f89;
  border-radius: 4px;
  text-decoration: none;
  color: #FFF;
  position: relative;
  text-align: center;
  font-size: 14px;

  &.button-secondary {
    background: #FFF;
    border: 2px solid #e1e1e1;
    color: #404a49;
  }

  &.icon-right {
    padding-right: 30px;
    top: -10px;
  }

  &.icon-left {
    padding-left: 30px;
    top: -10px;
  }

  &.icon-right i {
    position: absolute;
    top: 3px;
    right: 3px;
  }

  &.icon-left i {
    position: absolute;
    top: 3px;
    left: 3px;
  }

  &:focus {
    outline: 0;
  }
}

/* ==========================================================================
   Typography
   ========================================================================== */

h1, h2, h3 {
  margin: 0;
  font-weight: 400;
  line-height: 1em;
  color: #000;
}

h1 {
  font-size: 44px;
  margin-bottom: 12px;
  text-align:center;
}

h2 {
  font-size: 32px;

  a {
    text-decoration: none;
    color: #000;
  }
}

h3 {
  font-size: 18px;
  font-family: 'Work Sans', serif;
  font-weight: 600;
  text-transform: uppercase;
}

p {
  line-height: 1.8em;
  font-size: 18px;

  a {
    border-bottom: 2px solid #678f89;
    padding: 0;
    color: #678f89;
    text-decoration: none;
  }
}

ul li {
  line-height: 1.8em;
  font-size: 18px;

  a {
    border-bottom: 2px solid #678f89;
    line-height: 1.8em;
    color: #678f89;
    text-decoration: none;
  }
}

/* ==========================================================================
   Page Styles
   ========================================================================== */

hr{
  border:1px solid #678f89;
  width:40%;
  margin-top:50px;
}

.entry-list, .edit-entry, .new-entry {
  max-width: 800px;
  margin: 0 auto;
  padding: 70px 0 150px 0;
}

.edit-entry h2, .new-entry h2 {
  margin-bottom: 35px;
}

.entry-list {
  article {
    margin-bottom: 70px;
    text-align: center;

    &:last-child {
      margin-bottom: 0;
    }

    h2 {
      margin-bottom: 8px;
    }

    span {


      a{
        color: #678f89;
        opacity:0.6;

        &:hover{
          opacity:1;
        }
      }

    }
  }

  &.single {
    padding-bottom: 70px;

    time {
      font-size: 18px;
    }
  }
}

.entry {
  max-width: 800px;
  margin: 75px auto 0 auto;
  text-align: left;

  p {
    margin-bottom: 40px;
  }
}

.edit {
  padding-bottom: 80px;
  text-align: center;
  margin: 0 auto;
  font-size: 18px;

  p{
    margin:0;
    a {
      font-weight: 400;
      text-transform: uppercase;
    }
  }
  form #delete-entry{
    background:none;
    border:0;
    margin-top:20px;
    font-size:0.8rem;
    color:red;
    opacity:.3;
    &:hover{
      opacity:1;
    }
  }
}

.entry .error_message p {
  background: #678f89;
  color: white;
  font-weight: 500;
  margin: 20px 0 30px;
  padding: 10px;
}

/* ==========================================================================
   Form Styles
   ========================================================================== */

form {
  margin-bottom: 50px;

  label {
    display: block;
    margin-bottom: 8px;
  }

  input {
    &[type=text], &[type=password], &[type=date] {
      border: 2px solid #e1e1e1;
      font-size: 18px;
      line-height: 1.8em;
      padding: 10px 13px;
      margin-bottom: 30px;
      border-radius: 4px;
      width: calc(100% - 32px);
    }
  }

  textarea {
    border: 2px solid #e1e1e1;
    font-size: 18px;
    line-height: 1.8em;
    padding: 10px 13px;
    margin-bottom: 30px;
    border-radius: 4px;
    width: calc(100% - 32px);
  }

  input {
    &[type=text]:focus, &[type=date]:focus, &[type=password]:focus {
      outline: 0;
      border-color: #678f89;
    }
  }

  textarea:focus {
    outline: 0;
    border-color: #678f89;
  }

  input {
    &[type=text]:hover, &[type=date]:hover form textarea:hover {
      border-color: #678f89;
    }
  }
}

.edit-entry form textarea, .new-entry form textarea {
  min-height: 200px;
}

input[type=submit] {
  margin-right: 5px;
}
